export RUSTC_BOOTSTRAP=1
export RUST_LOG="error"
export RUST_BACKTRACE="full"

export LIBOS='catnap' # Allowed values are 'catnap', 'catnip', or 'catpowder'

# Config YAML file
# shellcheck disable=SC2155
export CONFIG_PATH="$(dirname "$(realpath "${BASH_SOURCE[0]}")")/config.yaml"

# Ports
export TCP_SERVER_PORT="6833"
export UDP_SERVER_PORT="1234"
export UDP_CLIENT_PORT="4321"

# IP
export CLIENT_HOST="{{CLIENT_HOST}}"
