[submodule "apps/tapir"]
	path = apps/tapir
	url = https://github.com/UWSysLab/tapir.git
	branch = io-queue
[submodule "src/Hoard"]
	path = src/Hoard
	url = https://github.com/iyzhang/Hoard.git
[submodule "apps/redis"]
	path = apps/redis
	url = https://github.com/jingliu9/redis.git
[submodule "submodules/mtcp"]
	path = submodules/mtcp
	url = https://github.com/mlr-msft/mtcp.git
[submodule "submodules/spdk"]
	path = submodules/spdk
	url = https://github.com/mlr-msft/spdk.git
