[submodule "submodules/spdk"]
	path = submodules/spdk
	url = https://github.com/demikernel/spdk.git
	branch = irene/v19.10.x
[submodule "submodules/Heap-Layers"]
	path = submodules/Heap-Layers
	url = https://github.com/emeryberger/Heap-Layers
	branch = master
[submodule "submodules/Hoard"]
	path = submodules/Hoard
	url = https://github.com/mlr-msft/Hoard.git
	branch = msft/vanilla
[submodule "submodules/HoardRdma"]
	path = submodules/HoardRdma
	url = https://github.com/mlr-msft/Hoard.git
	branch = msft/rdma
[submodule "submodules/dpdk"]
    path = submodules/dpdk
    url = https://github.com/demikernel/dpdk.git
	branch = irene/v19.08
[submodule "submodules/redis-posix"]
	path = submodules/redis-posix
	url = https://github.com/demikernel/redis.git
	branch = demikernel-master
[submodule "submodules/redis-rdma"]
	path = submodules/redis-rdma
	url = https://github.com/demikernel/redis.git
	branch = demikernel-master
[submodule "submodules/redis-lwip"]
	path = submodules/redis-lwip
    url = https://github.com/demikernel/redis.git
    branch = demikernel-master
[submodule "submodules/redis-vanilla"]
	path = submodules/redis-vanilla
	url = https://github.com/mlr-msft/redis.git
[submodule "submodules/PcapPlusPlus"]
	path = submodules/PcapPlusPlus
	url = https://github.com/mlr-msft/PcapPlusPlus.git
        branch = msft/master
[submodule "submodules/redis-dpdk-catnip"]
	path = submodules/redis-dpdk-catnip
    url = https://github.com/demikernel/redis.git
    branch = demikernel-master
[submodule "submodules/tapir-posix"]
	path = submodules/tapir-posix
	url = https://github.com/UWSysLab/tapir.git
        branch = io-queue
[submodule "submodules/tapir-dpdk-catnip"]
	path = submodules/tapir-dpdk-catnip
	url = https://github.com/UWSysLab/tapir.git
        branch = io-queue
[submodule "submodules/tapir-rdma"]
	path = submodules/tapir-rdma
	url = https://github.com/UWSysLab/tapir.git
        branch = io-queue
[submodule "submodules/tapir-lwip"]
	path = submodules/tapir-lwip
	url = https://github.com/UWSysLab/tapir.git
        branch = io-queue
[submodule "submodules/Shremote"]
	path = submodules/Shremote
	url = https://github.com/isaac-ped/Shremote.git
	branch = master
[submodule "submodules/spdk-rdma"]
    path = submodules/spdk-rdma
    url = https://github.com/demikernel/spdk.git
	branch = irene/v19.10.x
[submodule "submodules/mimalloc"]
	path = submodules/mimalloc
	url = https://github.com/microsoft/mimalloc.git
	branch = master
[submodule "src/rust/rust_tracy_client"]
	path = src/rust/rust_tracy_client
	url = https://github.com/sujayakar/rust_tracy_client.git
