*.a
*.so
/build/

# [CMake](https://github.com/github/gitignore/blob/master/CMake.gitignore)
#
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake