# Build Artifacts
*.a
*.so
build/

# vim
*.swo
*.swp

# vscode
.vscode/*

# gdb
.gdb.*

# ctags
tags
tags.*

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Python3 venv
/scripts/*/venv/

# astyle
*.orig