$env:RUSTC_BOOTSTRAP=1
$env:RUST_LOG="error"
$env:RUST_BACKTRACE="full"

$env:LIBOS='catnap' # Allow value is 'catnap' or 'catpowder'

# Config YAML file
$env:CONFIG_PATH = "$PSScriptRoot\config.yaml"

# Ports
$TCP_SERVER_PORT="6833" # If changed, please add your new port to `xdp_tcp_ports: [6833]` in config.yaml
$UDP_SERVER_PORT="1234" # If changed, please add your new port to `xdp_udp_ports: [1234, 4321]` in config.yaml
$UDP_CLIENT_PORT="4321" # If changed, please add your new port to `xdp_udp_ports: [1234, 4321]` in config.yaml

# IP
$CLIENT_HOST="{{CLIENT_HOST}}"